*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   background-size: cover;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}
.caixa-maior{
    background: #000000;
    opacity: 0.7;
    border-radius: 35px;
    padding: 25px;
    width: 95%;
    max-width: 450px;
}
.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 70px) ;
}

.botao-buscar{
border: none;
outline: none;
padding: 10px;
border-radius: 50px;
background-color:white;
opacity: 0.5;
cursor: pointer;
float: right;
}

.img-busca{
    width: 21px;
}

.caixa-media{
    margin-top: 30px;

}

.cidade{
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}
.temp{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}
.temp-max{
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}
.temp-min{
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}

.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.texto-previsao{
    color: #ffffff ;
    margin-left: 20px;
    font-size: 22px;
    text-transform: capitalize;

}
.umidade{
    color: #ffffff;
    margin-top: 20px;
}
